{% extends 'base.html.twig' %}

{% block body %}
    {% for product in favoritedProducts %}
        <div class="favorited-product mt-5">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="row">
                            <div class="col">
                                <img src="{{ product.imgLink }}" class="img-fluid" alt="{{ product.name }}">
                            </div>
                            <div class="col">
                                {% if product.productId in activeProductDiscounts|keys %}
                                    {% set discount = activeProductDiscounts[product.productId] %}
                                    <div class="pt-3 text-center">
                                        <div class="fs-2 text-success price-discount">
                                            {{ discount.priceDiscount }}
                                        </div>
                                        <div class="fs-4 price-normal">
                                            {{ discount.priceNormal }}
                                        </div>
                                        <div class="mt-2 date-range">
                                            <span class="date-begin">{{ discount.dateBegin|date('d.m.Y') }}</span>
                                            - <span class="date-end">{{ discount.dateEnd|date('d.m.Y') }}</span>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="pt-3 text-center">
                                        К сожалению, на данный момент по этому продукту нет выгодных предложений
                                    </div>
                                {% endif%}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small>{{ product.name }}</small>
                            </div>
                        </div>
                        <a href="{{ path('remove_from_favorites', {'productId': product.productId}) }}"
                           class="remove-from-favorites text-danger"
                           title="Удалить из избранного"
                           data-id="{{ product.productId }}"
                        >
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="discount-history-wrapper">
                        {% set productDiscountDates = discountDates[product.productId]|default([]) %}
                        {% set productDiscountYears = discountYears[product.productId] %}
                        {% include '/site/partials/history.html.twig' with {
                            'year': year,
                            'yearDates': yearDates,
                            'product': product,
                            'productDiscountDates': productDiscountDates,
                            'productDiscountYears': productDiscountYears,
                        } %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}