{% extends 'base.html.twig' %}

{% block body %}
    {% for product in paginator %}
        {% set productDiscountYears = discountYears[product.productId]|default([]) %}
        <div class="product-block mb-5">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-card pt-3">
                        <div class="row">
                            <div class="col">
                                <img src="{{ product.imgLink }}" class="img-fluid" alt="{{ product.name }}">
                            </div>
                            <div class="col">
                                <div class="product-item-wrapper">
                                    {% if product.productId in activeProductDiscounts|keys %}
                                        {% set discount = activeProductDiscounts[product.productId] %}
                                        {% include '/product/partials/productCard.html.twig' with {
                                            'priceDiscount': discount.priceDiscount,
                                            'priceNormal': discount.priceNormal,
                                            'dateBegin': discount.dateBegin,
                                            'dateEnd': discount.dateEnd
                                        } %}
                                    {% else %}
                                        <div class="pt-3 text-center">
                                            К сожалению, на данный момент по этому продукту нет выгодных предложений
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small>
                                {% if productDiscountYears|length > 1 %}
                                    <a href="{{ path('product', {'id': product.productId}) }}" target="_blank">{{ product.name }}</a>
                                {% else %}
                                    {{ product.name }}
                                {% endif %}
                                </small>
                            </div>
                        </div>
                        <a href="{{ path('remove_from_favorites', {'productId': product.productId}) }}"
                           class="remove-from-favorites text-danger"
                           title="Удалить из избранного"
                           data-id="{{ product.productId }}"
                        >
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="discount-history-wrapper">
                        {% set productDiscountDates = discountDates[product.productId]|default([]) %}
                        {% include '/product/partials/history.html.twig' with {
                            'year': year,
                            'yearDates': yearDates,
                            'product': product,
                            'productDiscountDates': productDiscountDates,
                            'productDiscountYears': productDiscountYears,
                        } %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if previous >= 0 %}
        <a href="{{ path('index', {'offset': previous}) }}">Назад</a>
    {% endif %}

    {% if next <= paginator|length %}
        <a href="{{ path('index', {'offset': next}) }}">Вперед</a>
    {% endif %}
{% endblock %}