<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to the Discount project!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('/assets/node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets/lib/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets/css/main.css') }}">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <img src="{{ asset('/img/header.png') }}" alt="Скидки в Пятерочке">
            </header>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/" title="Скидки в Пятерочке">
                    <img src="{{ asset('/img/logo.svg') }}" class="logo" alt="">
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a href="{{ path('app_index') }}" class="nav-link">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_products') }}" class="nav-link">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_cities') }}" class="nav-link">Скидки по городам</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_feedback') }}" class="nav-link">Обратная связь</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <main class="container">
            {% block body %}{% endblock %}
        </main>

        <div class="modal fade" id="selectCityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Выберите город</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form action="{{ path("app_cities_partial") }}">
                                <div>
                                    <label for="search-cities-input"></label>
                                    <input type="text"
                                           class="form-control"
                                           id="search-cities-input"
                                           name="search-cities-input"
                                           placeholder="Введите город"
                                    >
                                </div>
                            </form>
                        </div>
                        <div class="cities-list-modal mt-4">
                            <!-- Ajax loading -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset('/assets/node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script src="{{ asset('/assets/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/assets/js/main.js') }}"></script>
    </body>
</html>
