<div class="products-pagination mt-3 mb-3">
    <div class="row">
        {% set params = {'page': currentPage} %}
        {% if app.request.query.get('q') %}
            {% set params = params|merge({'q': app.request.query.get('q')}) %}
        {% endif %}

        <div class="col-1">
            <table>
                <tr>
                    <td>
                        {# Ссылка на первую страницу, когда она нужна #}
                        {% if firstPage > 1 %}
                            {% set params = params|merge({'page': 1}) %}
                            <a href="{{ path('app_index', params) }}" class="btn btn-success" title="На первую страницу">
                                <i class="fa fa-fast-backward"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {# Ссылка на предыдущую страницу #}
                        {% if currentPage > 1 %}
                            {% set params = params|merge({'page': currentPage - 1}) %}
                            <a href="{{ path('app_index', params) }}" class="btn btn-success" title="На предыдущую страницу">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-10 d-flex justify-content-center">
            {% if totalPages > 1 %}
                <ul class="list-group list-group-horizontal">
                    {% for page in firstPage..lastPage %}
                        {% set params = params|merge({'page': page}) %}
                        <li class="list-group-item {{ page == currentPage ? 'bg-primary' : '' }}">
                            <a href="{{ path('app_index', params) }}"
                               class="product-page {{ page == currentPage ? 'active-page' : '' }}"
                            >
                                {{ page }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-1 text-end">
            <table>
                <tr>
                    <td>
                        {# Ссылка на следующую страницу #}
                        {% if currentPage < totalPages %}
                            {% set params = params|merge({'page': currentPage + 1}) %}
                            <a href="{{ path('app_index', params) }}" class="btn btn-success" title="На следующую страницу">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {# Ссылка на последнюю страницу, когда она нужна #}
                        {% if lastPage < totalPages %}
                            {% set params = params|merge({'page': totalPages}) %}
                            <a href="{{ path('app_index', params) }}" class="btn btn-success" title="На последнюю страницу">
                                <i class="fa fa-fast-forward"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>